<div class="w-full flex flex-col items-start">
  <label class="block mb-2">{{ label }} :</label>

  <mat-card class="photo-card w-full h-48 items-center justify-center" *ngIf="!previewUrl" [style.width.px]="width" [style.height.px]="height">
    <input type="file" accept="image/*" (change)="onFileChange($event)"class="absolute inset-0 opacity-0 cursor-pointer z-10" />

    <mat-icon>cloud_upload</mat-icon>
    <p class="text-sm mt-8">Cliquez ou glissez une image ici</p>
  </mat-card>
<!-- 
  <div class="relative w-full" *ngIf="previewUrl">
    <img [src]="previewUrl" alt="Prévisualisation" class="w-full h-48 object-cover border border-gray-300" />
    <button mat-flat-button class="w-80 primary-button-cancel mt-2" (click)="remove.emit()" type="button">
      Supprimer la photo
    </button>
  </div> -->
</div>