<div class="flex flex-col items-center justify-start min-h-screen px-7 py-20 overflow-y-auto">
  @if (loading) {
  <mat-spinner diameter="50"></mat-spinner>
  }
  @else if (event) {
    <mat-card class="activity-card w-full flex flex-col items-center p-6">

      <app-button label="SUPPRIMER L'ACTIVITÉ" class="w-full primary-button-cancel mb-8"(clicked)="confirmDeleteEvent(event.id)"></app-button>

      <app-event-header [title]="event.title" [description]="event.description"></app-event-header>

      <app-event-participants-tabs 
        [acceptedParticipants]="event.acceptedParticipants"
        [pendingParticipants]="event.pendingParticipants" [organizerName]="event.organizerName"
        (accept)="acceptParticipant($event)" (reject)="rejectParticipant($event)"
        (remove)="removeParticipant(event.id, $event)">
      </app-event-participants-tabs>

      <app-event-info [event]="event" [showStatus]="true" [showOrganizer]="false"></app-event-info>

      <app-event-picture [imageUrl]="event.imageUrl" [title]="event.title" [width]="280" [height]="130"></app-event-picture>

      <app-button label="ALLER À LA CONVERSATION" class="mt-6" [routerLink]="['/conversation', event.id]"></app-button>

  </mat-card>
  }
  @else {
  <p class="text-red-600">Événement introuvable.</p>
  }
</div>