
 <div class="flex flex-col items-center justify-center min-h-[calc(100vh-10px)] px-5">

  <mat-card-title class="title-home">
    <h2 class="text-4xl mb-3">
      MEET MATES
    </h2>
  </mat-card-title>

  <img mat-card-image src="assets/images/photo-home.jpg" alt="Meet Mates" class="w-80 h-40 object-cover rounded">

  <mat-card-content class="card-text mt-4 mb-4 ml-2 mr-2 p-3 text-center text-base">
      Meet Mates est une application qui permet de participer à des activités en tout genre,
      rencontrer de nouvelles personnes, partager des moments
      de convivialité. Publier vos propres annonces afin d’inviter la
      communauté à vous rejoindre et partager vos passions.
  </mat-card-content>

  <mat-card-actions class="flex flex-col items-center justify-center gap-2 justify-center text-2xl ">
    <button mat-flat-button class="primary-button w-80" (click)="navigateTo('register')">
      S'inscrire
    </button>

    <button mat-flat-button class="secondary-button w-80" (click)="navigateTo('login')">
      Se connecter
    </button>
 
  </mat-card-actions>

</div> 

<!-- <div class="flex flex-col items-center justify-center min-h-[calc(100vh-10px)] px-5">
  <app-shared-title 
    level="h1"
    class="text-5xl mb-4 font-bold text-center">
    MEET MATES
  </app-shared-title>

  <img mat-card-image src="assets/images/photo-home.jpg" alt="Meet Mates" class="w-80 h-40 object-cover rounded">

  <app-shared-text class="text-center text-sm sm:text-base mt-4 mb-1 px-2">
    Meet Mates est une application qui permet de participer à des activités en tout genre,
    rencontrer de nouvelles personnes, créer des liens et partager des moments de convivialité.  
    Vous pouvez également publier vos propres annonces afin d’inviter la communauté à vous rejoindre et partager vos passions.
  </app-shared-text>


  <div class="flex flex-col items-center justify-center gap-2 mt-4">
  <app-shared-button
    label="Inscription"
    [htmlType]="'button'"
    [variant]="'primary'"
    (onClick)="navigateTo('register')"
  ></app-shared-button>

  <app-shared-button
    label="Connexion"
    [htmlType]="'button'"
    [variant]="'secondary'"
    (onClick)="navigateTo('login')"
  ></app-shared-button>
  </div>
</div> -->