<div class="flex flex-col items-center justify-center min-h-[calc(100vh-30px)] px-5">

    <mat-card-content class="card m-5 p-5 text-center">
      <h2 class="text-color text-4xl mb-3">
        MEET MATES
      </h2>
      <p>
        Une application qui permet de participer à des activités en tout genre,
        rencontrer de nouvelles personnes, créer des liens et partager des moments
        de convivialité.
      </p>
      <p class="mt-3">
        Vous pouvez également publier vos propres annonces afin d’inviter la
        communauté à vous rejoindre et partager vos passions.
      </p>
    </mat-card-content>

    <mat-card-actions class="flex flex-col items-center justify-center gap-4 justify-center mt-1">
      <button mat-flat-button class="primary-button w-48" (click)="navigateTo('register')">
        S'inscrire
      </button>

      <button mat-flat-button class="secondary-button w-48" (click)="navigateTo('login')">
        Se connecter
      </button>
    </mat-card-actions>

</div>
