<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <app-shared-title 
    level="h3">
  </app-shared-title>

<app-shared-input
  label="Nom"
  type="text"
  [formControl]="nomControl"
  [invalid]="nomControl.invalid && nomControl.touched"
  errorMessage="Nom requis"
></app-shared-input>

<app-shared-input
  label="Prénom"
  type="text"
  [formControl]="prenomControl"
  [invalid]="prenomControl.invalid && prenomControl.touched"
  errorMessage="Prénom requis"
></app-shared-input>

<app-shared-input
  label="Âge"
  type="number"
  [formControl]="ageControl"
  [invalid]="ageControl.invalid && ageControl.touched"
  errorMessage="Âge invalide"
></app-shared-input>

  <app-shared-input
    label="Email"
    type="email"
    [formControl]="emailControl"
    [invalid]="emailControl.invalid && emailControl.touched"
    errorMessage="Email invalide"
  ></app-shared-input>

  <app-shared-input
    label="Mot de passe"
    type="password"
    [formControl]="passwordControl"
    [invalid]="passwordControl.invalid && passwordControl.touched"
    errorMessage="Mot de passe requis"
  ></app-shared-input>

  <app-shared-input
    label="Confirmer le mot de passe"
    type="password"
    [formControl]="confirmPasswordControl"
    [invalid]="(registerForm.hasError('passwordMismatch') && confirmPasswordControl.touched)"
    errorMessage="Les mots de passe ne correspondent pas"
  ></app-shared-input>

  <app-shared-button
    type="submit"
    [disabled]="loading"
    [loading]="loading"
    label="Créer un compte"
  ></app-shared-button>
  
  <app-toast
    *ngIf="toastVisible"
    [message]="toastMessage"
    [type]="toastType"
    (click)="toastVisible = false"
  />

  <app-shared-button
    type="button"
    label="Se connecter"
    (click)="navigateTo('login')"
  ></app-shared-button>

</form>
