<div class="flex flex-col items-center justify-start min-h-[70vh] px-7 py-10 mt-3">
  @if (loading()) {
    <mat-spinner diameter="50"></mat-spinner>
  }
  @else if (error()) {
    <p class="text-red-600 text-center mt-10">{{ error() }}</p>
  } 
  @else if (events.length > 0) {
    <div class="flex flex-col items-center gap-6 w-full max-w-3xl">
      @for (event of events; track event.id) {
        <div #eventCard [attr.data-id]="event.id" class="activity-card w-full flex flex-col items-center p-6">

          <app-event-header
            [title]="event.title"
            [description]="event.description"
            class="mb-2">
          </app-event-header>

          <app-event-info
            [event]="event"
            [showStatus]="true"
            class="mb-3">
          </app-event-info>

          <app-button
            label="P A R T I C I P E R"
            class="w-80 primary-button mt-4"
            (clicked)="joinEvent(event.id)">
          </app-button>

        </div>
      }
    </div>
  }
  @else {
    <div class="flex flex-col items-center justify-center h-[60vh] text-center">
      <p class="card-text p-8 text-center text-gray-600">
        AUCUNE ACTIVITÉ DISPONIBLE<br><br>
        Soyez le premier à proposer un événement pour cette activité.
      </p>
    </div>
  }
</div>
