<div class="flex flex-col items-center w-full px-4 py-8">

    <app-input label="Rechercher une activité" class="mt-10" [control]="form.controls['query']"></app-input>

    <div *ngIf="loading()" class="text-gray-500 mt-6 animate-pulse"> Recherche en cours... </div>

    <div *ngIf="!loading() && results().length > 0" class="flex flex-col gap-6 w-full max-w-3xl">
      <div *ngFor="let event of results(); trackBy: trackById" class="activity-card w-full flex flex-col items-center">

        <app-event-header [title]="event.title" [description]="event.description" class="p-2"></app-event-header>

        <app-event-info [event]="event" [showStatus]="true"></app-event-info>

        <app-button label="P A R T I C I P E R" class="w-80 primary-button mt-4"
          [disabled]="(event.status).toUpperCase() !== 'OPEN'" (clicked)="joinEvent(event.id)">
        </app-button>

      </div>
    </div>

    <div *ngIf="!loading() && results().length === 0 && form.controls['query'].value?.length > 0"class="text-gray-400 mt-8 text-center"> 
      Aucun événement trouvé pour <span class="font-semibold text-gray-600">"{{ form.controls['query'].value }}"</span>
    </div>
    
</div>