<div class="flex flex-col items-center justify-center min-h-screen px-10 py-6">
  @if (loadings()) {
    <p>Chargement...</p>
  } @else if (error()) {
    <p class="text-red-600 font-semibold mt-10">{{ error() }}</p>
  } @else {
    <div class="flex flex-col items-center justify-center w-full max-w-2xl">
      
      <app-edit-profile-picture 
        [user]="user" (photoSelected)="onPhotoSelected($event)"
        (photoDeleted)="onPhotoDeleted()">
      </app-edit-profile-picture>

      <app-edit-profile-form 
        [user]="user" 
        (save)="onSave($event)">
      </app-edit-profile-form>

    </div>
  }
</div>
