<div class="flex flex-col items-center justify-start min-h-screen px-7 py-10 mt-8">
  @if (loading) {
  <div class="flex justify-center items-center h-[50vh]">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
  }
  @else if (event) {
    <mat-card class="activity-card w-full flex flex-col items-center p-6">

      <app-button label="ANNULER VOTRE PARTICIPATION" class="w-full primary-button-cancel mb-6"(clicked)="cancelParticipation(event.id)"></app-button>

      <app-event-header [title]="event.title" [description]="event.description"></app-event-header>

      <app-event-status [eventStatus]="event.status" [participationStatus]="event.participationStatus"></app-event-status>

      <app-event-picture [imageUrl]="event.imageUrl" [title]="event.title" [width]="280" [height]="130"></app-event-picture>

      <app-event-info [event]="event" [showStatus]="true"></app-event-info>

      <div class="w-full self-start">
        <app-participant-list [participants]="event.acceptedParticipants" class="w-full"></app-participant-list>
      </div>

      <app-button label="ALLER À LA CONVERSATION" class="w-full primary-button m-4"[routerLink]="['/conversation', event.id]"></app-button>

    </mat-card>
  }@else {
  <div class="flex flex-col items-center justify-center h-[50vh]">
    <p class="text-red-600">Événement introuvable.</p>
  </div>
  }
</div>