<div class="flex flex-col items-center justify-center min-h-[calc(100vh-10px)] px-8">

  <mat-card-title class="title-home">
    <h2 class="text-4xl mb-3">
      RÉINITIALISER LE MOT DE PASSE
    </h2>
  </mat-card-title>

  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()" class="flex flex-col items-center gap-4">

    <mat-form-field class="w-80">
      <mat-label>Nouveau mot de passe</mat-label>
      <input matInput type="password" formControlName="newPassword" required>

      @if (formSubmitted && resetForm.get('newPassword')?.hasError('required')) {
        <mat-error>Veuillez entrer un nouveau mot de passe.</mat-error>
      }
      @if (formSubmitted && resetForm.get('newPassword')?.hasError('minlength')) {
        <mat-error>Le mot de passe doit contenir au moins 6 caractères.</mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-80">
      <mat-label>Confirmer le mot de passe</mat-label>
      <input matInput type="password" formControlName="confirmPassword" required>

      @if (formSubmitted && resetForm.get('confirmPassword')?.hasError('required')) {
        <mat-error>Veuillez confirmer votre mot de passe.</mat-error>
      }
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      class="w-full primary-button mt-4"
      type="submit"
      [disabled]="isSubmitting">
      Réinitialiser le mot de passe
    </button>

    <button
      mat-flat-button
      class="secondary-button w-80 mt-2"
      type="button"
      (click)="navigateTo('login')">
      Retour à la connexion
    </button>

  </form>
</div>
