<div class="flex flex-col items-center justify-center min-h-[calc(100vh-10px)] px-8">
  <mat-card-title class="title-home mb-3">
    <h2 class="text-4xl mb-3">RÉINITIALISER LE MOT DE PASSE</h2>
  </mat-card-title>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col items-center">

    <!-- Nouveau mot de passe -->
    <mat-form-field class="w-80">
      <mat-label>Nouveau mot de passe</mat-label>
      <input matInput type="password" formControlName="newPassword" required>
      @if (form.get('newPassword')?.hasError('required') && (form.get('newPassword')?.touched || form.get('newPassword')?.dirty)) {
        <mat-error>Entrez votre nouveau mot de passe.</mat-error>
      }
      @if (form.get('newPassword')?.hasError('minlength') && !form.get('newPassword')?.hasError('required')) {
        <mat-error>Minimum 6 caractères.</mat-error>
      }
    </mat-form-field>

    <!-- Confirmation -->
    <mat-form-field class="w-80">
      <mat-label>Confirmez le mot de passe</mat-label>
      <input matInput type="password" formControlName="confirmPassword" required>
      @if (form.get('confirmPassword')?.hasError('required') && (form.get('confirmPassword')?.touched || form.get('confirmPassword')?.dirty)) {
        <mat-error>Confirmez votre mot de passe.</mat-error>
      }
    </mat-form-field>
    <!-- Boutons -->
    <mat-card-actions class="flex flex-col items-center justify-center gap-4 mt-6 w-80">
      <button mat-flat-button class="primary-button w-80" type="submit" [disabled]="isSubmitting">
        Réinitialiser
      </button>

      <button mat-flat-button class="secondary-button w-80" type="button" (click)="navigateTo('login')">
        Retour à la connexion
      </button>
    </mat-card-actions>

  </form>
</div>