<div class="flex flex-col items-center justify-center min-h-[calc(100vh-10px)] px-8">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col items-center gap-4 mt-6">

    <app-input label="Nouveau mot de passe" [control]="form.controls.newPassword" type="password" [required]="true"
      icon="lock"></app-input>

    <app-input label="Confirmez le mot de passe" [control]="form.controls.confirmPassword" type="password"
      [required]="true" icon="lock"></app-input>

    <mat-card-actions class="flex flex-col items-center justify-center gap-4 mt-6 w-80">
      <app-button label="Réinitialiser" class="w-full primary-button" type="submit"
        [disabled]="isSubmitting"></app-button>

      <app-button label="Retour à la connexion" class="secondary-button w-80"
        (clicked)="navigateTo('login')"></app-button>
    </mat-card-actions>
  </form>
</div>