<mat-toolbar class="footer fixed bottom-0 left-0 right-0 flex justify-around items-center h-16 z-50">
  <button mat-icon-button style="color: var(--mat-sys-on-primary)" mat-icon-button class="flex flex-col items-center " (click)="navigateTo('home')">
    <mat-icon>home</mat-icon>
  </button>

  <button mat-icon-button style="color: var(--mat-sys-on-primary)" mat-icon-button class="flex flex-col items-center" (click)="navigateTo('category')" >
    <mat-icon>sports_basketball</mat-icon>
  </button>

  <button mat-icon-button style="color: var(--mat-sys-on-primary)" mat-icon-button class="flex flex-col items-center" (click)="navigateTo('post-event')">
    <mat-icon>add</mat-icon>
  </button>

  <button mat-icon-button style="color: var(--mat-sys-on-primary)" mat-icon-button class="flex flex-col items-center" (click)="navigateTo('')">
    <mat-icon>chat</mat-icon>
  </button>

  <button mat-icon-button style="color: var(--mat-sys-on-primary)" mat-icon-button class="flex flex-col items-center" (click)="navigateTo('profile')">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>

