<div class="pt-[40px] pb-[60px] w-full overflow-y-auto mt-2">
  @if (loading()) {
    <div class="flex flex-col items-center justify-center h-full gap-6 mt-10">
      <mat-progress-spinner mode="indeterminate" diameter="70"></mat-progress-spinner>
      <p>Chargement des données...</p>
    </div>
  }
  @else if (error()) {
    <p class="text-red-600 text-center font-semibold mt-10">{{ error() }}</p>
  }
  @else {
    <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 gap-6 p-6 justify-items-center">
      @for (category of categories; track category.categoryId) {

        <app-icon-card
          [title]="category.name"
          [iconPath]="'/assets/images/icons/' + category.icon"
          (cardClick)="navigateTo(category.categoryId)">
        </app-icon-card>
        
      }
    </div>
  }
</div>
