<div class="pt-[40px] pb-[60px] w-full overflow-y-auto mt-2">
  @if (error()) {
    <p class="text-red-600 text-center font-semibold mt-10 pt-10">{{ error() }}</p>
  } @else {
    <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 gap-6 p-6 justify-items-center">
      @for (category of categories; track category.categoryId) {

        <app-icon-card
          [title]="category.name"
          [iconPath]="'/assets/images/icons/' + category.icon"
          (cardClick)="navigateTo(category.categoryId)">
        </app-icon-card>
        
      }
    </div>
  }
</div>
