<div class="pt-[40px] pb-[60px] w-full overflow-y-auto mt-2">
  @if (loading()) {
    <app-loading-spinner></app-loading-spinner>
  }
  @else if (error()) {
    <p class="text-red-600 text-center mt-10">{{ error() }}</p>
  }
  @else {
    <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 justify-items-center gap-6 p-6">
      @for (category of categories; track category.categoryId) {

        <app-icon-card
          class="icon-card"
          [title]="category.name"
          [iconPath]="'/assets/images/icons/' + category.icon"
          (cardClick)="navigateTo(category.categoryId)">
        </app-icon-card>
        
      }
    </div>
  }
</div>
