<div class="flex flex-col items-center justify-center min-h-[calc(100vh-10px)] px-8">

  <mat-card-title class="title-home">
    <h2 class="text-3xl mb-6">
    MOT DE PASSE OUBLIÉ
    </h2>
  </mat-card-title>

  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col items-center gap-3">
    
    <mat-form-field class="w-80">
      <mat-label>Adresse email</mat-label>
      <input matInput formControlName="email" required>
      
      @if (formSubmitted && form.get('email')?.hasError('required')) {
        <mat-error>Veuillez entrer votre adresse email.</mat-error>
      }
      @if (formSubmitted && form.get('email')?.hasError('email')) {
        <mat-error>Adresse email invalide.</mat-error>
      }
    </mat-form-field>

    <button
      mat-flat-button
      color="primary"
      class="w-full primary-button mt-2"
      type="submit"
      [disabled]="isSubmitting">
      Envoyer le lien de réinitialisation
    </button>

    <button
      mat-flat-button
      class="secondary-button w-80 mt-2"
      type="button"
      (click)="navigateTo('login')">
      Retour à la connexion
    </button>

  </form>
</div>
