<form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
  <app-shared-input
    label="Adresse email"
    type="email"
    [formControl]="emailControl"
    [invalid]="emailControl.invalid && emailControl.touched"
  ></app-shared-input>

  <app-shared-button
    type="submit"
    [disabled]="loading"
    [loading]="loading"
    label="Envoyer le lien de réinitialisation"
  ></app-shared-button>

  <!-- A DEBUGGER !!!  l'alert n'a pas le bon type : type error (en rouge avec la croix) -->
  <app-alert
    *ngIf="alertVisible"
    [message]="alertMessage!"
    [type]="alertType"
  ></app-alert>

  <app-shared-button
    type="button"
    label="Retour à la connexion"
    (click)="navigateTo('login')"
  ></app-shared-button>
</form>
