<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <app-shared-title 
    level="h2">
  </app-shared-title>

  <app-shared-input
    label="Email"
    type="email"
    [formControl]="emailControl"
    [invalid]="emailControl.invalid && emailControl.touched"
    errorMessage="Email invalide"
  ></app-shared-input>

  <app-shared-input
    label="Mot de passe"
    type="password"
    [formControl]="passwordControl"
    [invalid]="passwordControl.invalid && passwordControl.touched"
    errorMessage="Mot de passe requis"
  ></app-shared-input>

  <app-shared-button
    type="submit"
    [disabled]="loading"
    [loading]="loading"
    label="Se connecter">
  </app-shared-button>

  <!-- Ajouter les bonne alert : mot de passe incorrect ect -->
  <app-alert
    *ngIf="alertVisible"
    [message]="alertMessage!"
    [type]="alertType"
  ></app-alert>

    <app-shared-button
    type="button"
    label="Mot de passe oublié ?"
    (click)="navigateTo('forgot-password')"
  ></app-shared-button>

  <app-shared-button
    label="Pas encore de compte?"
    [type]="'button'"
    [disabled]="false"
    (click)="navigateTo('register')"
  ></app-shared-button>
</form>
