
.mat-mdc-dialog-actions button.cancel-btn:hover {
    background-color: #b0d9ff;
    border-color: #ffffff;
    color: #004f99;
     font-weight: 600;
}

.mat-mdc-dialog-actions button.confirm-btn:hover {
    background-color: #6ab6fd;
    color: #004f99;
}

button.confirm-btn{
     color:#004f99;
     font-weight: 600;
}

button.cancel-btn{
    color:#ffffff;
}
