.container {
  @media (min-width: 1000px) {
    position: relative;
    width: 40vw;
    margin: 0 auto;
    padding-inline: 4rem;
    padding-top: 7rem;
  }

  @media (min-width: 600px) and (max-width: 999px) {
    position: relative;
    width: 70vw;
    margin: 0 auto;
    padding-inline: 4rem;
    padding-top: 7rem;
  }
}