<div class="flex flex-col items-center justify-start min-h-screen px-5 py-20 overflow-y-auto">

  @if (loading) {
  <p class="text-gray-500 mt-6">Chargement du profil...</p>
  } @else if (error) {
  <p class="text-red-600 mt-6">{{ error }}</p>
  } @else {

  <mat-card class="card-profil w-full p-3 flex flex-col items-center gap-1">

    <img [src]="'assets/default-avatar.png'" alt="Photo de profil"
      class="w-32 h-32 rounded-full object-cover border-2 border-primary " />

    <p><strong></strong> {{ user?.lastName }} {{ user?.firstName }}</p>
    <p><strong></strong> {{ user?.email }}</p>
  </mat-card>

  <mat-tab-group class="w-full max-w-4xl mt-2" [selectedIndex]="selectedIndex" (selectedTabChange)="onTabChange($event)"
    dynamicHeight animationDuration="300ms" mat-align-tabs="start">

    <mat-tab>
      <ng-template mat-tab-label>
        <p>JE PARTICPIE</p>
      </ng-template>

      <div class="p-6">
        @if (eventsParticipating.length === 0) {
        <p class="text-gray-500">Vous ne participez à aucun événement pour le moment.</p>
        } @else {
        <mat-accordion multi="true" class="flex flex-col gap-4">
          @for (event of eventsParticipating; track event.id) {

          <mat-expansion-panel class="p-2 ">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ event.eventTitle }}
              </mat-panel-title>
              <mat-panel-description>
                Organisé par {{ event.userFullName }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="flex flex-col gap-2 p-2">
              <p><strong>Organisateur :</strong> {{ event.userFullName }}</p>
              <p><strong>Participants :</strong></p>
              <ul>
                <li *ngFor="let participant of event.participants">
                  {{ participant }}
                </li>
              </ul>
            </div>
            <mat-action-row>
              <button mat-flat-button color="primary" [routerLink]="['/event-details', event.eventId]">
                Voir détails
              </button>
            </mat-action-row>
          </mat-expansion-panel>
          }
        </mat-accordion>
        }
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <p>J'ORGANISE</p>
      </ng-template>

      <div class="p-6">
        @if (eventsOrganized.length === 0) {
        <p class="text-gray-500">Vous n'organisez aucun événement actuellement.</p>
        } @else {
        <mat-accordion multi="true" class="flex flex-col gap-4">
          @for (event of eventsOrganized; track event.id) {

          <mat-expansion-panel class="p-2">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ event.eventTitle }}
              </mat-panel-title>
              <mat-panel-description>
                Organisé par {{ event.userFullName }}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="flex flex-col gap-2 p-2">
              <p><strong>Organisateur :</strong> {{ event.userFullName }}</p>
              <p><strong>Identifiant :</strong>  {{ event.eventId }}</p>
              <p><strong>Date :</strong> {{ event.eventDate || 'Non définie' }}</p>
              <p><strong>Participants :</strong></p>
              <ul>
                <li *ngFor="let participant of event.participants">
                  {{ participant }}
                </li>
              </ul>
            </div>
            <mat-action-row>
              <button mat-flat-button color="primary"   [routerLink]="['/event-details', event.eventId]">

                Voir détails
              </button>
            </mat-action-row>
          </mat-expansion-panel>
          }
        </mat-accordion>
        }
      </div>
    </mat-tab>


  </mat-tab-group>
  }
</div>