@use '@angular/material' as mat;
@use 'theme-colors' as theme;


:root {
  @include mat.toolbar-overrides((container-background-color: var(--mat-sys-tertiary),
      container-text-color: var(--mat-sys-on-tertiary),
    ));
}

.header {
  background-color: white !important;
  border-bottom: black solid 1px;
}

.footer {
  background-color: white !important;
  border-top: black solid 1px;
}


html,
body {
  font-family: 'Poiret One', cursive;
  font-weight: 700;
  color: #1f2937
}

mat-error {
  color: #ff0000 !important;
  /* rouge vif */
  font-weight: 700;
}

.menu-profile{
  background-color: white !important;
  border: 1px solid black
}

.secondary-button,
.primary-button {
  font-weight: 700;
  border-radius: 9px !important;
  box-shadow: 0 6px 8px -6px rgba(0, 0, 0, 0.6);
  border-bottom: black solid 1px !important;
}

.primary-button-details {
  font-weight: 700;
  border-radius: 10px !important;
  box-shadow: 0 6px 9px -6px rgba(0, 0, 0, 0.6) !important;
  border-bottom: black solid 1px !important;
}

.primary-button-cancel {
  font-weight: 700;
  border-radius: 9px !important;
  box-shadow: 0 4px 8px -4px rgb(0, 0, 0);
  border-bottom: rgb(255, 0, 0) solid 2px !important;
}

mat-expansion-panel {
  box-shadow: 0 6px 8px -6px rgba(0, 0, 0, 0.5) !important;
  border-bottom: 1px solid black !important;
}

.mat-accordion .mat-expansion-panel:not(.mat-expanded),
.mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
  border-radius: 8px !important;

}


p,
label,
h3 {
  font-weight: 700;
  color: #1f2937 // font-bold 

}

.card-text {
  border: 1px solid var(--mat-sys-on-tertiary);
  border-radius: 5px;
  color: var(--mat-sys-on-tertiary);

}

.card-profil {
  color: black !important;
}

.icone-card {
  color: black;
  border-radius: 5px !important;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border-bottom: black solid 1px !important;
  box-shadow: 0 6px 10px -6px rgba(0, 0, 0, 0.6) !important;
}

.acitivity-card {
  border-bottom: black solid 1px !important;
}
.photo-card{
  color: black;
  border-radius: 5px !important;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border: black solid 1px !important;
  box-shadow: 0 6px 10px -6px rgba(0, 0, 0, 0.6) !important;

}


// Neutraliser les styles de base Material
.card-profil.mat-mdc-card {
  --mdc-elevated-card-container-color: transparent;
  --mdc-outlined-card-outline-color: transparent;
  --mdc-elevated-card-container-elevation: 0;
}


.title-page {
  color: var(--mat-sys-surface-container-low);
}

.title-home {
  color: var(--mat-sys-on-tertiary);
}

.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #000000;
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mdc-snackbar-label-text-color: #000000;
  font-weight: 500 !important;
  font-family: 'Poiret One', cursive;

}

// .mat-mdc-form-field {
//   --mdc-filled-text-field-container-color: rgba(196, 219, 248, 0.911); // fond léger
//   --mdc-filled-text-field-focus-active-indicator-color: #004f99;
//   --mdc-filled-text-field-input-text-color: #004f99;
//   --mdc-filled-text-field-label-text-color: #004f99(41, 41, 41, 0.8);
//   --mdc-filled-text-field-hover-active-indicator-color: var(--mat-sys-on-tertiary);
// }

.mat-mdc-dialog-surface {
  --mdc-dialog-container-color: rgb(243, 236, 236);
  --mdc-dialog-subhead-color: #000000;
  --mdc-dialog-supporting-text-color: #ffffff;
  box-shadow: var(--mat-sys-level3);

}

.cancel-button.mat-mdc-button-base {
  --mdc-filled-button-container-color: var(--mat-sys-error);
  --mdc-filled-button-label-text-color: var(--mat-sys-on-error);
}

.cancel-button.mat-mdc-button-base:hover {
  --mdc-filled-button-container-color: color-mix(in srgb, var(--mat-sys-error) 85%, black);
}


.mat-mdc-dialog-actions button {
  border: 1px solid #ffffff;
  transition: all 0.2s ease;
}

.mat-mdc-radio-button {
  --mdc-radio-selected-icon-color: black(50, 98, 156, 0.911);
  --mdc-radio-unselected-icon-color: black(50, 98, 156, 0.911);

}

.mat-chip-open {
  color: black !important;

}

.mat-chip-closed {
  background-color: #dc2626 !important;
  color: #fff !important;
}


.mat-mdc-form-field .mdc-floating-label {
  font-weight: 700 !important;
  color: #374151 !important;
}

.mat-mdc-input-element {
  font-weight: 700 !important;
  color: #374151 !important;
}

.upload-box {
  border: 2px dashed var(--mat-sys-outline);
  color: var(--mat-sys-on-surface-variant);
  transition: all 0.3s ease;
  background-color: var(--mat-sys-surface-container-low);

  // &:hover {
  //   border-color: var(--mat-sys-primary);
  //   color: var(--mat-sys-primary);
  //   background-color: var(--mat-sys-surface-container);
  // }
}

.mat-expansion-panel,
.mat-expansion-panel-header {
  border-radius: 0 !important;
}