html,
body {
  font-family: 'Poiret One', cursive;
  font-weight: 700;
  color: #000000;
  background-color: #f0f8ff;
}

.header {
  background-color: #acdbff !important;
  border-bottom: 1px solid #000000;
}

.footer {
  background-color: #b8e0ff !important;
  border-top: 1px solid #000000;
}

.primary-button {
  font-weight: 700;
  border-radius: 9px !important;
  box-shadow: 0 6px 8px -6px rgba(0, 0, 0, 0.6);
  border-bottom: black solid 1px !important;
}

p {
  font-weight: 700;
  color: #000000;
}

h3 {
  font-weight: 700 !important;
  color: #000000;
  border-bottom: 1px solid black !important;
}

.text {
  border-bottom: 1px solid black !important;
}

.image {
  width: 100px;
  height: 100px;
  margin-bottom: 12px;
  object-fit: cover;
}

.icone-card {
  background-color: #e6f1fd !important;
  border-radius: 5px !important;
  border-bottom: black solid 1px !important;
  box-shadow: 0 6px 10px -6px rgba(0, 0, 0, 0.6) !important;
  cursor: pointer;
}

// Organization and Participant TABS (profil)
mat-expansion-panel {
  box-shadow: 0 6px 8px -6px rgba(0, 0, 0, 0.8) !important;
  border-bottom: 1px solid black !important;
  border-left: 1px solid black !important;
  border-right: 1px solid black !important;
  background-color: #f5f8fd !important;
  border-radius: 0 !important;
}
.mat-accordion .mat-expansion-panel:not(.mat-expanded),
.mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing) {
  border-radius: 3px !important;
}

// Snack-bar
.mat-mdc-snack-bar-container {
  --mdc-snackbar-container-color: #000000;
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mdc-snackbar-label-text-color: #000000;
  font-weight: 500 !important;
  font-family: 'Poiret One', cursive;
}

// Selectors
.mat-mdc-select-panel {
  border-bottom: 2px solid #000000 !important;
  background-color: #ffffff !important;
  border-radius: 0 !important;
}

// Selector Date
.mat-datepicker-content {
  border-bottom: 2px solid #000000 !important;
  border-top: 2px solid #000000 !important;
  background-color: #f3f4f6 !important;
  width: 20rem !important;
}
.mat-calendar-body-cell {
  background-color: #f3f4f6 !important;
}

// Selector Address
.mat-mdc-autocomplete-panel {
  background-color: #f3f4f6 !important;
  border-bottom: 2px solid #000000 !important;
  border-top: 2px solid #000000 !important;
}

// Profile Menu
.mat-mdc-menu-panel {
  background-color: white !important;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

// dial popup
.mat-mdc-dialog-surface {
  --mdc-dialog-container-color: rgb(243, 236, 236);
}

mat-progress-spinner {
  --mdc-circular-progress-active-indicator-color: #1976d2;
}

mat-error {
  color: #ff0000 !important;
  font-weight: 700;
}