@use '@angular/material' as mat;
@use 'theme-colors' as theme;

html,
body {
  font-family: 'Poiret One', cursive;
  background-color: var(--mat-sys-tertiary-fixed); 
}

html {
  color-scheme: light;
  @include mat.theme((color: theme.$primary-palette));
  @include mat.theme-overrides((corner-full: 10px));

}

:root {
  @include mat.toolbar-overrides((container-background-color: var(--mat-sys-primary),
      container-text-color: var(--mat-sys-on-primary),
    ));
    
}

.primary-button {
  @include mat.theme((color: theme.$tertiary-palette));
  @include mat.theme-overrides((corner-full: 10px));
  font-weight: bold !important; // material Angular ecrase le style obligé de mettre !important
}

.secondary-button {
  @include mat.theme((color: theme.$tertiary-palette));
  @include mat.theme-overrides((corner-full: 10px));
  font-weight: bold !important; // material Angular ecrase le style obligé de mettre !important

}

.card-text {
  border: 1px solid var(--mat-sys-on-primary-fixed-variant);
  @include mat.theme((color: theme.$tertiary-palette));
  border-radius: 5px;
}

.title-page {
  color: var(--mat-sys-surface-container-low);
}

.title-home {
  color: var(--mat-sys-on-primary-fixed-variant);
}

:root {
  @include mat.card-overrides((
    container-color: var(--mat-sys-primary) // ou la couleur que tu veux
  ));
}

// <-----  pour le header mais visiblement plus besoin 

// ::ng-deep mat-toolbar {
//   background-color: var(--mat-sys-primary);
//   color: var(--mat-sys-on-primary);
// } 