<div class="pt-[40px] pb-[60px] w-full overflow-y-auto">
  @if (loading()) {
    <app-loading-spinner></app-loading-spinner>
  } 
  @else if (error()) {
    <p class="text-red-600 text-center mt-10">{{ error() }}</p>
  } 
  @else {
    <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 gap-6 p-6 justify-items-center">
      @for (activity of activities; track activity.id) {

        <app-icon-card
          [title]="activity.name"
          [iconPath]="'assets/images/icons/' + (activity.icon)"
          (cardClick)="goToEvents(activity.id)">
        </app-icon-card>

      }
    </div>
  }
</div>
