<div class="pt-[40px] pb-[60px] w-full overflow-y-auto">
  @if (error()) {
    <div class="text-red-600 text-center mt-4 flex flex-col items-center gap-2 pt-10">
      <p>{{ error() }}</p>
    </div>
  } @else if (error()) {
    <div class="text-red-600 text-center mt-8 flex flex-col items-center gap-2">
      <p class="text-lg font-medium">{{ error() }}</p>
    </div>
  } @else {
    <div class="grid grid-cols-2 sm:grid-cols-2 md:grid-cols-3 gap-6 p-6 justify-items-center">
      @for (activity of activities; track activity.id) {
        <mat-card
          class="icone-card w-40 h-40 flex flex-col items-center justify-center cursor-pointer transition-transform duration-200 hover:scale-105 hover:shadow-lg"
          (click)="goToEvents(activity.id)"
        >
          <mat-icon class="mb-2 text-3xl">sports</mat-icon>
          <mat-card-title class="text-center text-base font-bold">
            {{ activity.name }}
          </mat-card-title>
        </mat-card>
      }
    </div>
  }
</div>
